---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/BurntSushi/ripgrep/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f64d99266d65000f61685b48ac49388b"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/53631945/releases?page=2>; rel="next",
        <https://api.github.com/repositories/53631945/releases?page=3>; rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '31'
      X-Ratelimit-Reset:
      - '1599760294'
      X-Ratelimit-Used:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/BurntSushi/ripgrep/releases/27032399","assets_url":"https://api.github.com/repos/BurntSushi/ripgrep/releases/27032399/assets","upload_url":"https://uploads.github.com/repos/BurntSushi/ripgrep/releases/27032399/assets{?name,label}","html_url":"https://github.com/BurntSushi/ripgrep/releases/tag/12.1.1","id":27032399,"node_id":"MDc6UmVsZWFzZTI3MDMyMzk5","tag_name":"12.1.1","target_commitish":"master","name":"12.1.1","draft":false,"author":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars2.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","site_admin":false},"prerelease":false,"created_at":"2020-05-29T13:26:47Z","published_at":"2020-05-29T13:27:54Z","assets":[{"url":"https://api.github.com/repos/BurntSushi/ripgrep/releases/assets/21180139","id":21180139,"node_id":"MDEyOlJlbGVhc2VBc3NldDIxMTgwMTM5","name":"ripgrep-12.1.1-arm-unknown-linux-gnueabihf.tar.gz","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars2.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":1835913,"download_count":396,"created_at":"2020-05-29T13:34:36Z","updated_at":"2020-05-29T13:34:37Z","browser_download_url":"https://github.com/BurntSushi/ripgrep/releases/download/12.1.1/ripgrep-12.1.1-arm-unknown-linux-gnueabihf.tar.gz"},{"url":"https://api.github.com/repos/BurntSushi/ripgrep/releases/assets/21180155","id":21180155,"node_id":"MDEyOlJlbGVhc2VBc3NldDIxMTgwMTU1","name":"ripgrep-12.1.1-i686-pc-windows-msvc.zip","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars2.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"htt[...]
- request:
    method: get
    uri: https://api.github.com/repos/BurntSushi/ripgrep/releases/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7c0b47d7741420c6d85d3b1dae915357"
      Last-Modified:
      - Fri, 29 May 2020 13:47:01 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '30'
      X-Ratelimit-Reset:
      - '1599760294'
      X-Ratelimit-Used:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/BurntSushi/ripgrep/releases/27032399","assets_url":"https://api.github.com/repos/BurntSushi/ripgrep/releases/27032399/assets","upload_url":"https://upl[...]
